html{
  -webkit-user-select: none;
  user-select: none;
}

header {
  -webkit-app-region: drag;
  display: block;
  border-bottom: 1px solid #ccc
}

header h4 {
  margin-top: 2px;
}

main {
  margin: 10px auto;
  padding: 20px;
}

.dialog-buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em 3em;
    text-align: right;
}

label:after {
  width: 200px
}
